// Place all the styles related to the Pupils controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/.

.classroom_span {
    height: 25px;
    line-height: 25px;
    text-align: center;
    margin: 10px;
    background-color: rgb(48, 46, 46);
    color: white;
    width: 70px;
    display: inline-block;
}